.poll-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  //border: 1px solid #ccc;
  //border-radius: 10px;
}

mat-selection-list {
  //margin-bottom: 20px;
}

.container-center {
  display: flex;
  justify-content: center;
}
