<div class="article-card-container">
    @for(article of articles; track article.id){
      <mat-card  class="article-card">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>{{ article.category.name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="article-summary">{{ article.summary }}</p>
          <button class="article-author" (click)="onAuthorSelect(article.author)">Autor: {{ article.author }}</button>
          <p class="article-publication">Publicado en: {{ article.publicationDate | date }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink]="['../catalog/article/details', article.id]">Ver detalles</button>
          <button mat-button color="accent" (click)="addArticleSave(article)" *ngIf="showSaveButton">Guardar</button>
          <button mat-button color="accent" (click)="deleteArticleSave(article)" *ngIf="!showSaveButton">Eliminar</button>
        </mat-card-actions>
      </mat-card>
    }@empty {
      <p>No hay libros disponibles</p>
    }
    <br><br><br><br><br><br>
</div>

