footer {
    background-color: #6FA5F6; 
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
  }
  
  footer a {
    color: #000000; 
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease; /* Transición suave en color */
  }
  
  footer p {
    margin: 0;
    color: #222222; 
  }
  
  footer i {
    font-size: 1.5rem;
  }
  