<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
           <br>
            <div class="container text-center">
                <div class="cta-content row row-cols-1">
                    <h2 class="text-center mb-6 h2">¡Bienvenido a Blogal!</h2>
                    <p class="col">Empieza buscando artículos de tu interes</p>
                    <p class="col">Puedes filtrarlos por etiquetas, autores o categoría</p>
                    <p class="col">No te olvides de seguir a tus autores favoritos</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 main-cta">
            <br>
            <img src="assets/cta_2.jpg" 
            alt="Imagen CTA" 
            class="feature-icon img-fluid mb-3 rounded-corners"
            width="400px"
            height="400px">
        </div>
    </div>
</div>