<mat-toolbar style="margin-bottom: 10px">
  <button mat-icon-button (click)="goBack()" aria-label="Botón para regresar a la página anterior">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Publicar</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="publication-container">
  
  <h2>Publicación</h2>

  

  
  <form [formGroup]="articleForm">
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Título</mat-label>
        <input type="text" matInput placeholder="Título de tu artículo" formControlName="title"/>
        @if(controlHasError('title','required')){
          <mat-error>Este campo es obligatorio</mat-error>
        }
      </mat-form-field>  
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Contenido</mat-label>
        <textarea type="text" matInput placeholder="Contenido" formControlName="content" rows="10" cols="50"></textarea>
        @if(controlHasError('content','required')){
          <mat-error>Este campo es obligatorio</mat-error>
        }
      </mat-form-field>  
    </div>
    <div>
      <mat-checkbox formControlName="forSubs">¿Solo visible para suscriptores?</mat-checkbox>
    </div>
  </form>
  
  <!-- Vista previa -->

  <!-- Botón de publicar -->
  
  <button type="button" (click)="publish()">Publicar</button>

    <!-- Importar plantillas -->
    <div class="templates-section">
      <h3>Importar Plantillas</h3>
      <select #templateSelect title="Seleccionar Plantilla">
        <option value="academic">Texto Académico</option>
        <option value="blog">Blog</option>
      </select>
      <button type="button" (click)="importTemplate(templateSelect.value)">Importar Plantilla</button>
    </div>
    <br><br><br><br><br><br><br>
</div>